.createQuiz {
    margin-bottom:10px;
}
.uploadedFiles p.file {
    margin:10px 0px;
}
.uploadedFiles p.file img {
    max-width:300px;
    max-height:100px;
}

.existedFiles div.file {
    margin:10px 0px;
}
.existedFiles div.file img {
    max-width:300px;
    max-height:100px;
}

.questionWrapper {
    margin:15px 0px;
}
.questionContent div {
    float:left;
}

.choiceContent {
    margin:10px 0px;
}
.choiceContent span,.choiceContent input {
    float:left;
}
.choiceContent .choiceLabel {
    margin-left:5px;
}
.choiceContent input{
    float:left;
    margin-top:-2px;
}