<h1 class="pageHeader">Sessions</h1>
<div class="searchForm">
    <ul class="horizontalFormList">
        <form id="formSearch">
            <li class="fullInput">
                <span class="labelWrapper"><label>Filter</label></span>
                <span class="inputWrapper">
                    <span class="inputInner">
                        <select class="inputSelect" ng-model="filter"
                                ng-options="filter as filter.name for filter in filterSelect track by filter.id"
                        ></select>
                    </span>
                </span>
                <div class="clear"></div>
            </li>
        </form>
    </ul>
    <a class="btn btn-default searchButton" href="javascript:;" ng-click="search()">Search</a>
</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Quiz</th>
        <th>Status</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="session in sessionList">
        <th scope="row">{{$index + 1}}</th>
        <td>{{session.quiz.name}}</td>
        <td>{{session.completed==true ? "Completed" : "Not Completed"}}</td>
        <td>
            <a class="btn btn-xs btn-default updateQuiz" href="javascript:;"
               ng-href='#/quiz-session-run/{{session.id}}' ng-show="{{session.completed!=true}}">
                <span class="glyphicon glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                Resume Quiz
            </a>
        </td>
    </tr>
    </tbody>
</table>
<nav>
    <ul id="paging" class="pagination rightPagination">
        <li ng-repeat="page in arrPages" ng-class="{active: page == selectedPage}">
            <a href="javascript:;" ng-click="gotoPage(page)">{{page}}</a>
        </li>
    </ul>
</nav>